<!DOCTYPE html>
<html>
<head>
  <title>Jenny Allar</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="../../../../../Downloads/6_navigation_2/style.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
  <link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700|Rock+Salt|Prata' rel='stylesheet' type='text/css'>
</head>
<body>

<header>
  <div id="header_container">
    <div id="header_logo">
    </div>

  </div>
  <!--end header-->
  <p class="navbar-text pull-right">

</header>


<div class="banner">
  <%= link_to image_tag("topbanner.png", :size => "1090x100"), root_path %>
</div>
<nav>
  <div id="nav_container">

    <ul id="menu">
      <%= link_to image_tag("github.png", :size => "156x50"), "https://github.com/JennyAllar" %>
      <%= link_to image_tag("twitter.png", :size => "156x50"), "https://twitter.com/JennyAllar" %>
      <%= link_to image_tag("email.png", :size => "244x50"), "mailto:jennyallar@gmail.com?subject=You're Amazing!" %>
      <%= link_to image_tag("linkedin.png", :size => "175x50"), "https://www.linkedin.com/in/JennyAllar" %>
    </ul>
  </div>
  <!--end navigation-->
</nav>
<div id="content">

  <div id="content_container">
    <div id="intro">
      I'm a Ruby on Rails developer looking to work in an environment with other developers who are excited about
      the code they write, find pride in their work, and value strong communication skills. An organization that
      promotes
      further education and advancement would be ideal at this early stage in my development career.<br>
    </div>
    <div class="banner_1">
      <%= link_to image_tag("Projects_banner.png", :size => "150x75"), root_path %>
    </div>
    <div class="title">It’s Gif, Not Jif</div>
    <div class="subtitle">An ongoing repository for uploading, favoriting, searching and texting animated
      gifs. I really honed some of my CSS skills by attempting to give this app a
      Pinterest-like look.
    </div>
    <br><br><br><br>

    <div class="used">Used: Twillio, BCrypt</div>
    <br><br><br>


    <div class="project">
      <a href="https://github.com/JennyAllar/itsgifnotjif"><img src="http://i.imgur.com/n0FcQjq.png" alt="fivera"></a>
    </div>
    <br><br><br><br><br>

    <div class="title">gSchool Who</div>
    <div class="subtitle">An online version of the classic board game Guess Who using preselected
      characters with the option to upload your own game pieces.
    </div>
    <br>
    <br><br>

    <div class="used">Used: Devise, HTML5, pusher</div>
    <br><br><br>

    <div class="project">
      <a href="https://github.com/JennyAllar/gschool_who"><img src="http://i.imgur.com/CsoOdM5.png" alt="fivera"></a>
    </div>

    <div class="banner_1">
      <%= link_to image_tag("Education_banner.png", :size => "150x75"), root_path %>
    </div>


    <div class="title_1">gSchool @ <a href="http://www.galvanize.it/school/"><img src="http://i.imgur.com/NXEHziK.png" alt="fivera"></a></div>
    <div id="location">Boulder, CO</div>
    <div class="subtitle">Full-Stack Ruby on Rails Development, graduating August 2014</div>
    <br><br><br><br>

    <div class="title_2">Ferris State University <a href="http://www.ferris.edu/"><img src="http://i.imgur.com/Qh30W6F.png" alt="fivera"></a></div>
    <div id="location">Big Rapids, MI</div>
    <div class="subtitle">B.S., Television and Digital Media Production</div>
    <br><br>


    <div class="banner_1">
      <%= link_to image_tag("Experience_banner.png", :size => "150x75"), root_path %>
    </div>


    <div class="banner_1">
      <%= link_to image_tag("Additional_banner.png", :size => "150x75"), root_path %>
    </div>
  </div>

</div>
<!--end content_container-->
</div>
<!--end content-->

<footer>
  <div id="footer_container">


  </div>
  <!--end footer_container-->
</footer>

</body>
</html>      
 